#**Instalando a biblioteca PySpark**

Obs: Toda vez que for trabalhar com o PySpark no Colab tem que fazer a instalação do PySpark

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=70bf1b457cc00e8f7db0722cde682ec13af8d0b35c195ec19d5f1fdcb71bd547
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

#**Importando Bibliotecas**

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, DoubleType
from pyspark.sql.window import Window

#**Configurando a SparkSession**

In [3]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("mini_projeto_final")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())

spark

#**Montando a estrutura do DataFrame utilizando o StructType**

In [4]:
schema = StructType() \
        .add("ID", IntegerType(), True) \
        .add("ano_de_nascimento", IntegerType(), True) \
        .add("graduacao", StringType(), True) \
        .add("estado_civil", StringType(), True) \
        .add("renda_anual", DoubleType(), True) \
        .add("criancas_em_casa", IntegerType(), True) \
        .add("adolescentes_em_casa", IntegerType(), True) \
        .add("data_cliente", DateType(), True) \
        .add("recencia", IntegerType(), True) \
        .add("qts_vinhos", IntegerType(), True) \
        .add("qts_frutas", IntegerType(), True) \
        .add("qts_produtos_carne", IntegerType(), True) \
        .add("qts_produtos_peixe", IntegerType(), True) \
        .add("qts_produtos_doces", IntegerType(), True) \
        .add("qts_produtos_ouro", IntegerType(), True) \
        .add("num_compras_desconto", IntegerType(), True) \
        .add("num_compras_web", IntegerType(), True) \
        .add("num_compras_catalogo", IntegerType(), True) \
        .add("num_compras_loja", IntegerType(), True) \
        .add("num_visitas_web_mes", IntegerType(), True) \
        .add("campanha3", IntegerType(), True) \
        .add("campanha4", IntegerType(), True) \
        .add("campanha5", IntegerType(), True) \
        .add("campanha1", IntegerType(), True) \
        .add("campanha2", IntegerType(), True) \
        .add("reclamacoes", IntegerType(), True) \
        .add("resposta_alvo", IntegerType(), True) \

df1 = spark.read.format('csv') \
                  .option("header", True) \
                  .schema(schema) \
                  .load("/content/drive/MyDrive/dados/mini_projeto_final.csv")

#**Visualizando a como ficou a estrutura do DataFrame**

In [5]:
df1.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- ano_de_nascimento: integer (nullable = true)
 |-- graduacao: string (nullable = true)
 |-- estado_civil: string (nullable = true)
 |-- renda_anual: double (nullable = true)
 |-- criancas_em_casa: integer (nullable = true)
 |-- adolescentes_em_casa: integer (nullable = true)
 |-- data_cliente: date (nullable = true)
 |-- recencia: integer (nullable = true)
 |-- qts_vinhos: integer (nullable = true)
 |-- qts_frutas: integer (nullable = true)
 |-- qts_produtos_carne: integer (nullable = true)
 |-- qts_produtos_peixe: integer (nullable = true)
 |-- qts_produtos_doces: integer (nullable = true)
 |-- qts_produtos_ouro: integer (nullable = true)
 |-- num_compras_desconto: integer (nullable = true)
 |-- num_compras_web: integer (nullable = true)
 |-- num_compras_catalogo: integer (nullable = true)
 |-- num_compras_loja: integer (nullable = true)
 |-- num_visitas_web_mes: integer (nullable = true)
 |-- campanha3: integer (nullable = true)
 |-- campanha4: integer (nullable = true)
 |-- campanha5: integer (nullable = true)
 |-- campanha1: integer (nullable = true)
 |-- campanha2: integer (nullable = true)
 |-- reclamacoes: integer (nullable = true)
 |-- resposta_alvo: integer (nullable = true)

#**Visualizando o DataFrame estruturado**

In [6]:
df1.show()

+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+--------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+
|  ID|ano_de_nascimento|        graduacao| estado_civil|renda_anual|criancas_em_casa|adolescentes_em_casa|data_cliente|recencia|qts_vinhos|qts_frutas|qts_produtos_carne|qts_produtos_peixe|qts_produtos_doces|qts_produtos_ouro|num_compras_desconto|num_compras_web|num_compras_catalogo|num_compras_loja|num_visitas_web_mes|campanha3|campanha4|campanha5|campanha1|campanha2|reclamacoes|resposta_alvo|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+--------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+
|5524|             1957|  Ensino Superior|  Solteiro(a)|    58138.0|               0|                   0|  2012-09-04|      58|       635|        88|               546|               172|                88|               88|                   3|              8|                  10|               4|                  7|        0|        0|        0|        0|        0|          0|            1|
|2174|             1954|  Ensino Superior|  Solteiro(a)|    46344.0|               1|                   1|  2014-03-08|      38|        11|         1|                 6|                 2|                 1|                6|                   2|              1|                   1|               2|                  5|        0|        0|        0|        0|        0|          0|            0|
|4141|             1965|  Ensino Superior|União Estável|    71613.0|               0|                   0|  2013-08-21|      26|       426|        49|               127|               111|                21|               42|                   1|              8|                   2|              10|                  4|        0|        0|        0|        0|        0|          0|            0|
|6182|             1984|  Ensino Superior|União Estável|    26646.0|               1|                   0|  2014-02-10|      26|        11|         4|                20|                10|                 3|                5|                   2|              2|                   0|               4|                  6|        0|        0|        0|        0|        0|          0|            0|
|5324|             1981|              PhD|    Casado(a)|    58293.0|               1|                   0|  2014-01-19|      94|       173|        43|               118|                46|                27|               15|                   5|              5|                   3|               6|                  5|        0|        0|        0|        0|        0|          0|            0|
|7446|             1967|         Mestrado|União Estável|    62513.0|               0|                   1|  2013-09-09|      16|       520|        42|                98|                 0|                42|               14|                   2|              6|                   4|              10|                  6|        0|        0|        0|        0|        0|          0|            0|
| 965|             1971|  Ensino Superior|Divorciado(a)|    55635.0|               0|                   1|  2012-11-13|      34|       235|        65|               164|                50|                49|               27|                   4|              7|                   3|               7|                  6|        0|        0|        0|        0|        0|          0|            0|
|6177|             1985|              PhD|    Casado(a)|    33454.0|               1|                   0|  2013-05-08|      32|        76|        10|                56|                 3|                 1|               23|                   2|              4|                   0|               4|                  8|        0|        0|        0|        0|        0|          0|            0|
|4855|             1974|              PhD|União Estável|    30351.0|               1|                   0|  2013-06-06|      19|        14|         0|                24|                 3|                 3|                2|                   1|              3|                   0|               2|                  9|        0|        0|        0|        0|        0|          0|            1|
|5899|             1950|              PhD|União Estável|     5648.0|               1|                   1|  2014-03-13|      68|        28|         0|                 6|                 1|                 1|               13|                   1|              1|                   0|               0|                 20|        1|        0|        0|        0|        0|          0|            0|
| 387|             1976|     Ensino Médio|    Casado(a)|     7500.0|               0|                   0|  2012-11-13|      59|         6|        16|                11|                11|                 1|               16|                   1|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|
|2125|             1959|  Ensino Superior|Divorciado(a)|    63033.0|               0|                   0|  2013-11-15|      82|       194|        61|               480|               225|               112|               30|                   1|              3|                   4|               8|                  2|        0|        0|        0|        0|        0|          0|            0|
|8180|             1952|         Mestrado|Divorciado(a)|    59354.0|               1|                   1|  2013-11-15|      53|       233|         2|                53|                 3|                 5|               14|                   3|              6|                   1|               5|                  6|        0|        0|        0|        0|        0|          0|            0|
|2569|             1987|  Ensino Superior|    Casado(a)|    17323.0|               0|                   0|  2012-10-10|      38|         3|        14|                17|                 6|                 1|                5|                   1|              1|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|
|2114|             1946|              PhD|  Solteiro(a)|    82800.0|               0|                   0|  2012-11-24|      23|      1006|        22|               115|                59|                68|               45|                   1|              7|                   6|              12|                  3|        0|        0|        1|        1|        0|          0|            1|
|9736|             1980|  Ensino Superior|    Casado(a)|    41850.0|               1|                   1|  2012-12-24|      51|        53|         5|                19|                 2|                13|                4|                   3|              3|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|
|4939|             1946|  Ensino Superior|União Estável|    37760.0|               0|                   0|  2012-08-31|      20|        84|         5|                38|               150|                12|               28|                   2|              4|                   1|               6|                  7|        0|        0|        0|        0|        0|          0|            0|
|6565|             1949|         Mestrado|    Casado(a)|    76995.0|               0|                   1|  2013-03-28|      91|      1012|        80|               498|                 0|                16|              176|                   2|             11|                   4|               9|                  5|        0|        0|        0|        1|        0|          0|            0|
|2278|             1985|Cursando Mestrado|  Solteiro(a)|    33812.0|               1|                   0|  2012-11-03|      86|         4|        17|                19|                30|                24|               39|                   2|              2|                   1|               3|                  6|        0|        0|        0|        0|        0|          0|            0|
|9360|             1982|  Ensino Superior|    Casado(a)|    37040.0|               0|                   0|  2012-08-08|      41|        86|         2|                73|                69|                38|               48|                   1|              4|                   2|               5|                  8|        0|        0|        0|        0|        0|          0|            0|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+--------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+
only showing top 20 rows

#**Modificando o nome de 2 colunas**

In [7]:
df1 = df1.withColumnRenamed("ID", "id").withColumnRenamed("recencia", "qtd_dias_ultima_compra")

df1.show()

+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+
|  id|ano_de_nascimento|        graduacao| estado_civil|renda_anual|criancas_em_casa|adolescentes_em_casa|data_cliente|qtd_dias_ultima_compra|qts_vinhos|qts_frutas|qts_produtos_carne|qts_produtos_peixe|qts_produtos_doces|qts_produtos_ouro|num_compras_desconto|num_compras_web|num_compras_catalogo|num_compras_loja|num_visitas_web_mes|campanha3|campanha4|campanha5|campanha1|campanha2|reclamacoes|resposta_alvo|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+
|5524|             1957|  Ensino Superior|  Solteiro(a)|    58138.0|               0|                   0|  2012-09-04|                    58|       635|        88|               546|               172|                88|               88|                   3|              8|                  10|               4|                  7|        0|        0|        0|        0|        0|          0|            1|
|2174|             1954|  Ensino Superior|  Solteiro(a)|    46344.0|               1|                   1|  2014-03-08|                    38|        11|         1|                 6|                 2|                 1|                6|                   2|              1|                   1|               2|                  5|        0|        0|        0|        0|        0|          0|            0|
|4141|             1965|  Ensino Superior|União Estável|    71613.0|               0|                   0|  2013-08-21|                    26|       426|        49|               127|               111|                21|               42|                   1|              8|                   2|              10|                  4|        0|        0|        0|        0|        0|          0|            0|
|6182|             1984|  Ensino Superior|União Estável|    26646.0|               1|                   0|  2014-02-10|                    26|        11|         4|                20|                10|                 3|                5|                   2|              2|                   0|               4|                  6|        0|        0|        0|        0|        0|          0|            0|
|5324|             1981|              PhD|    Casado(a)|    58293.0|               1|                   0|  2014-01-19|                    94|       173|        43|               118|                46|                27|               15|                   5|              5|                   3|               6|                  5|        0|        0|        0|        0|        0|          0|            0|
|7446|             1967|         Mestrado|União Estável|    62513.0|               0|                   1|  2013-09-09|                    16|       520|        42|                98|                 0|                42|               14|                   2|              6|                   4|              10|                  6|        0|        0|        0|        0|        0|          0|            0|
| 965|             1971|  Ensino Superior|Divorciado(a)|    55635.0|               0|                   1|  2012-11-13|                    34|       235|        65|               164|                50|                49|               27|                   4|              7|                   3|               7|                  6|        0|        0|        0|        0|        0|          0|            0|
|6177|             1985|              PhD|    Casado(a)|    33454.0|               1|                   0|  2013-05-08|                    32|        76|        10|                56|                 3|                 1|               23|                   2|              4|                   0|               4|                  8|        0|        0|        0|        0|        0|          0|            0|
|4855|             1974|              PhD|União Estável|    30351.0|               1|                   0|  2013-06-06|                    19|        14|         0|                24|                 3|                 3|                2|                   1|              3|                   0|               2|                  9|        0|        0|        0|        0|        0|          0|            1|
|5899|             1950|              PhD|União Estável|     5648.0|               1|                   1|  2014-03-13|                    68|        28|         0|                 6|                 1|                 1|               13|                   1|              1|                   0|               0|                 20|        1|        0|        0|        0|        0|          0|            0|
| 387|             1976|     Ensino Médio|    Casado(a)|     7500.0|               0|                   0|  2012-11-13|                    59|         6|        16|                11|                11|                 1|               16|                   1|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|
|2125|             1959|  Ensino Superior|Divorciado(a)|    63033.0|               0|                   0|  2013-11-15|                    82|       194|        61|               480|               225|               112|               30|                   1|              3|                   4|               8|                  2|        0|        0|        0|        0|        0|          0|            0|
|8180|             1952|         Mestrado|Divorciado(a)|    59354.0|               1|                   1|  2013-11-15|                    53|       233|         2|                53|                 3|                 5|               14|                   3|              6|                   1|               5|                  6|        0|        0|        0|        0|        0|          0|            0|
|2569|             1987|  Ensino Superior|    Casado(a)|    17323.0|               0|                   0|  2012-10-10|                    38|         3|        14|                17|                 6|                 1|                5|                   1|              1|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|
|2114|             1946|              PhD|  Solteiro(a)|    82800.0|               0|                   0|  2012-11-24|                    23|      1006|        22|               115|                59|                68|               45|                   1|              7|                   6|              12|                  3|        0|        0|        1|        1|        0|          0|            1|
|9736|             1980|  Ensino Superior|    Casado(a)|    41850.0|               1|                   1|  2012-12-24|                    51|        53|         5|                19|                 2|                13|                4|                   3|              3|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|
|4939|             1946|  Ensino Superior|União Estável|    37760.0|               0|                   0|  2012-08-31|                    20|        84|         5|                38|               150|                12|               28|                   2|              4|                   1|               6|                  7|        0|        0|        0|        0|        0|          0|            0|
|6565|             1949|         Mestrado|    Casado(a)|    76995.0|               0|                   1|  2013-03-28|                    91|      1012|        80|               498|                 0|                16|              176|                   2|             11|                   4|               9|                  5|        0|        0|        0|        1|        0|          0|            0|
|2278|             1985|Cursando Mestrado|  Solteiro(a)|    33812.0|               1|                   0|  2012-11-03|                    86|         4|        17|                19|                30|                24|               39|                   2|              2|                   1|               3|                  6|        0|        0|        0|        0|        0|          0|            0|
|9360|             1982|  Ensino Superior|    Casado(a)|    37040.0|               0|                   0|  2012-08-08|                    41|        86|         2|                73|                69|                38|               48|                   1|              4|                   2|               5|                  8|        0|        0|        0|        0|        0|          0|            0|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+
only showing top 20 rows

#**Criando duas novas colunas contendo informações relevantes**

In [8]:
df1 = df1.withColumn("soma_qtd_produtos", F.col("qts_vinhos") + F.col("qts_frutas") + F.col("qts_produtos_carne") + F.col("qts_produtos_peixe") + F.col("qts_produtos_doces") + F.col("qts_produtos_ouro"))
ano_atual = 2021
df1 = df1.withColumn("idade_cliente", ano_atual - F.col("ano_de_nascimento"))

#Convertendo o tipo do dado
df1 = df1.withColumn("soma_qtd_produtos", df1.soma_qtd_produtos.cast("integer"))

df1.show()

+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+
|  id|ano_de_nascimento|        graduacao| estado_civil|renda_anual|criancas_em_casa|adolescentes_em_casa|data_cliente|qtd_dias_ultima_compra|qts_vinhos|qts_frutas|qts_produtos_carne|qts_produtos_peixe|qts_produtos_doces|qts_produtos_ouro|num_compras_desconto|num_compras_web|num_compras_catalogo|num_compras_loja|num_visitas_web_mes|campanha3|campanha4|campanha5|campanha1|campanha2|reclamacoes|resposta_alvo|soma_qtd_produtos|idade_cliente|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+
|5524|             1957|  Ensino Superior|  Solteiro(a)|    58138.0|               0|                   0|  2012-09-04|                    58|       635|        88|               546|               172|                88|               88|                   3|              8|                  10|               4|                  7|        0|        0|        0|        0|        0|          0|            1|             1617|           64|
|2174|             1954|  Ensino Superior|  Solteiro(a)|    46344.0|               1|                   1|  2014-03-08|                    38|        11|         1|                 6|                 2|                 1|                6|                   2|              1|                   1|               2|                  5|        0|        0|        0|        0|        0|          0|            0|               27|           67|
|4141|             1965|  Ensino Superior|União Estável|    71613.0|               0|                   0|  2013-08-21|                    26|       426|        49|               127|               111|                21|               42|                   1|              8|                   2|              10|                  4|        0|        0|        0|        0|        0|          0|            0|              776|           56|
|6182|             1984|  Ensino Superior|União Estável|    26646.0|               1|                   0|  2014-02-10|                    26|        11|         4|                20|                10|                 3|                5|                   2|              2|                   0|               4|                  6|        0|        0|        0|        0|        0|          0|            0|               53|           37|
|5324|             1981|              PhD|    Casado(a)|    58293.0|               1|                   0|  2014-01-19|                    94|       173|        43|               118|                46|                27|               15|                   5|              5|                   3|               6|                  5|        0|        0|        0|        0|        0|          0|            0|              422|           40|
|7446|             1967|         Mestrado|União Estável|    62513.0|               0|                   1|  2013-09-09|                    16|       520|        42|                98|                 0|                42|               14|                   2|              6|                   4|              10|                  6|        0|        0|        0|        0|        0|          0|            0|              716|           54|
| 965|             1971|  Ensino Superior|Divorciado(a)|    55635.0|               0|                   1|  2012-11-13|                    34|       235|        65|               164|                50|                49|               27|                   4|              7|                   3|               7|                  6|        0|        0|        0|        0|        0|          0|            0|              590|           50|
|6177|             1985|              PhD|    Casado(a)|    33454.0|               1|                   0|  2013-05-08|                    32|        76|        10|                56|                 3|                 1|               23|                   2|              4|                   0|               4|                  8|        0|        0|        0|        0|        0|          0|            0|              169|           36|
|4855|             1974|              PhD|União Estável|    30351.0|               1|                   0|  2013-06-06|                    19|        14|         0|                24|                 3|                 3|                2|                   1|              3|                   0|               2|                  9|        0|        0|        0|        0|        0|          0|            1|               46|           47|
|5899|             1950|              PhD|União Estável|     5648.0|               1|                   1|  2014-03-13|                    68|        28|         0|                 6|                 1|                 1|               13|                   1|              1|                   0|               0|                 20|        1|        0|        0|        0|        0|          0|            0|               49|           71|
| 387|             1976|     Ensino Médio|    Casado(a)|     7500.0|               0|                   0|  2012-11-13|                    59|         6|        16|                11|                11|                 1|               16|                   1|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               61|           45|
|2125|             1959|  Ensino Superior|Divorciado(a)|    63033.0|               0|                   0|  2013-11-15|                    82|       194|        61|               480|               225|               112|               30|                   1|              3|                   4|               8|                  2|        0|        0|        0|        0|        0|          0|            0|             1102|           62|
|8180|             1952|         Mestrado|Divorciado(a)|    59354.0|               1|                   1|  2013-11-15|                    53|       233|         2|                53|                 3|                 5|               14|                   3|              6|                   1|               5|                  6|        0|        0|        0|        0|        0|          0|            0|              310|           69|
|2569|             1987|  Ensino Superior|    Casado(a)|    17323.0|               0|                   0|  2012-10-10|                    38|         3|        14|                17|                 6|                 1|                5|                   1|              1|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               46|           34|
|2114|             1946|              PhD|  Solteiro(a)|    82800.0|               0|                   0|  2012-11-24|                    23|      1006|        22|               115|                59|                68|               45|                   1|              7|                   6|              12|                  3|        0|        0|        1|        1|        0|          0|            1|             1315|           75|
|9736|             1980|  Ensino Superior|    Casado(a)|    41850.0|               1|                   1|  2012-12-24|                    51|        53|         5|                19|                 2|                13|                4|                   3|              3|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               96|           41|
|4939|             1946|  Ensino Superior|União Estável|    37760.0|               0|                   0|  2012-08-31|                    20|        84|         5|                38|               150|                12|               28|                   2|              4|                   1|               6|                  7|        0|        0|        0|        0|        0|          0|            0|              317|           75|
|6565|             1949|         Mestrado|    Casado(a)|    76995.0|               0|                   1|  2013-03-28|                    91|      1012|        80|               498|                 0|                16|              176|                   2|             11|                   4|               9|                  5|        0|        0|        0|        1|        0|          0|            0|             1782|           72|
|2278|             1985|Cursando Mestrado|  Solteiro(a)|    33812.0|               1|                   0|  2012-11-03|                    86|         4|        17|                19|                30|                24|               39|                   2|              2|                   1|               3|                  6|        0|        0|        0|        0|        0|          0|            0|              133|           36|
|9360|             1982|  Ensino Superior|    Casado(a)|    37040.0|               0|                   0|  2012-08-08|                    41|        86|         2|                73|                69|                38|               48|                   1|              4|                   2|               5|                  8|        0|        0|        0|        0|        0|          0|            0|              316|           39|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+
only showing top 20 rows

#**Filtrando, ordenando e agrupando dados relevantes para o negócio**

In [9]:
dados = (df1.withColumn("qntd_filhos",
          F.when(F.col("criancas_em_casa") > 0, F.concat(df1.criancas_em_casa, F.lit(" - Filhos")))
          .otherwise("Não tem filhos")))

In [10]:
dados.select(F.col("estado_civil"), F.col("qntd_filhos")).show()

+-------------+--------------+
| estado_civil|   qntd_filhos|
+-------------+--------------+
|  Solteiro(a)|Não tem filhos|
|  Solteiro(a)|    1 - Filhos|
|União Estável|Não tem filhos|
|União Estável|    1 - Filhos|
|    Casado(a)|    1 - Filhos|
|União Estável|Não tem filhos|
|Divorciado(a)|Não tem filhos|
|    Casado(a)|    1 - Filhos|
|União Estável|    1 - Filhos|
|União Estável|    1 - Filhos|
|    Casado(a)|Não tem filhos|
|Divorciado(a)|Não tem filhos|
|Divorciado(a)|    1 - Filhos|
|    Casado(a)|Não tem filhos|
|  Solteiro(a)|Não tem filhos|
|    Casado(a)|    1 - Filhos|
|União Estável|Não tem filhos|
|    Casado(a)|Não tem filhos|
|  Solteiro(a)|    1 - Filhos|
|    Casado(a)|Não tem filhos|
+-------------+--------------+
only showing top 20 rows

# **Utilizando Window Functions**

In [11]:
#RETORNA O NÚMERO DA LINHA DE ACORDO COM A COLUNA QUE FOI PARTICIONADA

wf1 = Window.partitionBy(F.col("estado_civil")).orderBy("renda_anual")

#withColumn cria uma nova coluna no dataframe
df1.withColumn("row_number", F.row_number().over(wf1)).show()

+-----+-----------------+-----------------+-------------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+----------+
|   id|ano_de_nascimento|        graduacao|       estado_civil|renda_anual|criancas_em_casa|adolescentes_em_casa|data_cliente|qtd_dias_ultima_compra|qts_vinhos|qts_frutas|qts_produtos_carne|qts_produtos_peixe|qts_produtos_doces|qts_produtos_ouro|num_compras_desconto|num_compras_web|num_compras_catalogo|num_compras_loja|num_visitas_web_mes|campanha3|campanha4|campanha5|campanha1|campanha2|reclamacoes|resposta_alvo|soma_qtd_produtos|idade_cliente|row_number|
+-----+-----------------+-----------------+-------------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+----------+
|  492|             1973|              PhD|Aproveitando a vida|    48432.0|               0|                   1|  2012-10-18|                     3|       322|         3|                50|                 4|                 3|               42|                   5|              7|                   1|               6|                  8|        0|        0|        0|        0|        0|          0|            0|              424|           48|         1|
|11133|             1973|              PhD|Aproveitando a vida|    48432.0|               0|                   1|  2012-10-18|                     3|       322|         3|                50|                 4|                 3|               42|                   5|              7|                   1|               6|                  8|        0|        0|        0|        0|        0|          0|            1|              424|           48|         2|
| 5376|             1979|  Ensino Superior|          Casado(a)|     2447.0|               1|                   0|  2013-01-06|                    42|         1|         1|              1725|                 1|                 1|                1|                  15|              0|                  28|               0|                  1|        0|        0|        0|        0|        0|          0|            0|             1730|           42|         1|
| 9931|             1963|              PhD|          Casado(a)|     4023.0|               1|                   1|  2014-06-23|                    29|         5|         0|                 1|                 1|                 1|                1|                  15|              0|                   0|               0|                 19|        0|        0|        0|        0|        0|          0|            0|                9|           58|         2|
|10311|             1969|  Ensino Superior|          Casado(a)|     4428.0|               0|                   1|  2013-10-05|                     0|        16|         4|                12|                 2|                 4|              321|                   0|             25|                   0|               0|                  1|        0|        0|        0|        0|        0|          0|            0|              359|           52|         3|
| 9303|             1976|  Ensino Superior|          Casado(a)|     5305.0|               0|                   1|  2013-07-30|                    12|        12|         4|                 7|                 1|                 3|                5|                   0|              1|                   0|               0|                 13|        0|        0|        0|        0|        0|          0|            0|               32|           45|         4|
|  387|             1976|     Ensino Médio|          Casado(a)|     7500.0|               0|                   0|  2012-11-13|                    59|         6|        16|                11|                11|                 1|               16|                   1|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               61|           45|         5|
| 2139|             1975|         Mestrado|          Casado(a)|     7500.0|               1|                   0|  2013-10-02|                    19|         3|         1|                10|                 3|                 2|               12|                   3|              2|                   0|               3|                  5|        0|        0|        0|        0|        0|          0|            0|               31|           46|         6|
| 9909|             1996|Cursando Mestrado|          Casado(a)|     7500.0|               0|                   0|  2012-11-09|                    24|         3|        18|                14|                15|                22|               50|                   3|              3|                   1|               3|                  9|        0|        0|        0|        0|        0|          0|            1|              122|           25|         7|
|  456|             1986|Cursando Mestrado|          Casado(a)|     7500.0|               1|                   0|  2013-02-07|                    96|         1|        11|                 5|                 4|                 6|                9|                   2|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               36|           35|         8|
| 4692|             1976|  Ensino Superior|          Casado(a)|     7500.0|               1|                   0|  2012-08-01|                    19|         7|         0|                12|                13|                 7|               32|                   5|              4|                   1|               2|                  9|        1|        0|        0|        0|        0|          0|            1|               71|           45|         9|
| 9553|             1987|  Ensino Superior|          Casado(a)|     7500.0|               0|                   0|  2013-01-09|                    94|         0|         2|                 3|                 4|                 1|                5|                   1|              0|                   0|               3|                  6|        0|        0|        0|        0|        0|          0|            0|               15|           34|        10|
|10710|             1979|  Ensino Superior|          Casado(a)|     7500.0|               0|                   1|  2012-08-29|                    61|         5|         2|                 3|                 3|                 0|                5|                   1|              1|                   0|               2|                  8|        0|        0|        0|        0|        0|          0|            0|               18|           42|        11|
| 1773|             1978|Cursando Mestrado|          Casado(a)|    12393.0|               0|                   0|  2012-12-04|                    38|         5|         6|                15|                11|                 7|               13|                   1|              2|                   0|               3|                  9|        0|        0|        0|        0|        0|          0|            0|               57|           43|        12|
| 1160|             1970|  Ensino Superior|          Casado(a)|    13260.0|               1|                   1|  2013-08-23|                    48|         9|         4|                17|                10|                 2|                7|                   4|              3|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               49|           51|        13|
| 3641|             1976|  Ensino Superior|          Casado(a)|    13624.0|               1|                   0|  2013-01-20|                    93|        10|         2|                15|                 2|                 1|                6|                   2|              2|                   0|               3|                  6|        0|        0|        0|        0|        0|          0|            0|               36|           45|        14|
| 3436|             1969|  Ensino Superior|          Casado(a)|    14045.0|               1|                   0|  2014-01-26|                    24|        11|         0|                 5|                 2|                 1|                1|                   1|              1|                   0|               3|                  7|        0|        0|        0|        0|        0|          0|            0|               20|           52|        15|
| 5802|             1972|     Ensino Médio|          Casado(a)|    14188.0|               0|                   0|  2013-02-28|                    40|         2|         7|                11|                16|                12|               27|                   1|              2|                   0|               4|                  6|        0|        0|        0|        0|        0|          0|            0|               75|           49|        16|
|  193|             1996|     Ensino Médio|          Casado(a)|    14421.0|               0|                   0|  2014-02-17|                    81|         0|         0|                 2|                 3|                 3|                8|                   1|              1|                   0|               2|                  5|        1|        0|        0|        0|        0|          0|            0|               16|           25|        17|
| 1241|             1984|Cursando Mestrado|          Casado(a)|    14796.0|               1|                   0|  2012-09-17|                     1|        13|         3|                 8|                 7|                 4|               16|                   2|              1|                   0|               3|                  9|        0|        0|        0|        0|        0|          0|            1|               51|           37|        18|
+-----+-----------------+-----------------+-------------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+----------+
only showing top 20 rows

In [12]:
df1.withColumn("percent_rank", F.percent_rank().over(wf1)).show()

+-----+-----------------+-----------------+-------------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+--------------------+
|   id|ano_de_nascimento|        graduacao|       estado_civil|renda_anual|criancas_em_casa|adolescentes_em_casa|data_cliente|qtd_dias_ultima_compra|qts_vinhos|qts_frutas|qts_produtos_carne|qts_produtos_peixe|qts_produtos_doces|qts_produtos_ouro|num_compras_desconto|num_compras_web|num_compras_catalogo|num_compras_loja|num_visitas_web_mes|campanha3|campanha4|campanha5|campanha1|campanha2|reclamacoes|resposta_alvo|soma_qtd_produtos|idade_cliente|        percent_rank|
+-----+-----------------+-----------------+-------------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+--------------------+
|  492|             1973|              PhD|Aproveitando a vida|    48432.0|               0|                   1|  2012-10-18|                     3|       322|         3|                50|                 4|                 3|               42|                   5|              7|                   1|               6|                  8|        0|        0|        0|        0|        0|          0|            0|              424|           48|                 0.0|
|11133|             1973|              PhD|Aproveitando a vida|    48432.0|               0|                   1|  2012-10-18|                     3|       322|         3|                50|                 4|                 3|               42|                   5|              7|                   1|               6|                  8|        0|        0|        0|        0|        0|          0|            1|              424|           48|                 0.0|
| 5376|             1979|  Ensino Superior|          Casado(a)|     2447.0|               1|                   0|  2013-01-06|                    42|         1|         1|              1725|                 1|                 1|                1|                  15|              0|                  28|               0|                  1|        0|        0|        0|        0|        0|          0|            0|             1730|           42|                 0.0|
| 9931|             1963|              PhD|          Casado(a)|     4023.0|               1|                   1|  2014-06-23|                    29|         5|         0|                 1|                 1|                 1|                1|                  15|              0|                   0|               0|                 19|        0|        0|        0|        0|        0|          0|            0|                9|           58|0.001168224299065...|
|10311|             1969|  Ensino Superior|          Casado(a)|     4428.0|               0|                   1|  2013-10-05|                     0|        16|         4|                12|                 2|                 4|              321|                   0|             25|                   0|               0|                  1|        0|        0|        0|        0|        0|          0|            0|              359|           52|0.002336448598130841|
| 9303|             1976|  Ensino Superior|          Casado(a)|     5305.0|               0|                   1|  2013-07-30|                    12|        12|         4|                 7|                 1|                 3|                5|                   0|              1|                   0|               0|                 13|        0|        0|        0|        0|        0|          0|            0|               32|           45|0.003504672897196...|
|  387|             1976|     Ensino Médio|          Casado(a)|     7500.0|               0|                   0|  2012-11-13|                    59|         6|        16|                11|                11|                 1|               16|                   1|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               61|           45|0.004672897196261682|
| 2139|             1975|         Mestrado|          Casado(a)|     7500.0|               1|                   0|  2013-10-02|                    19|         3|         1|                10|                 3|                 2|               12|                   3|              2|                   0|               3|                  5|        0|        0|        0|        0|        0|          0|            0|               31|           46|0.004672897196261682|
| 9909|             1996|Cursando Mestrado|          Casado(a)|     7500.0|               0|                   0|  2012-11-09|                    24|         3|        18|                14|                15|                22|               50|                   3|              3|                   1|               3|                  9|        0|        0|        0|        0|        0|          0|            1|              122|           25|0.004672897196261682|
|  456|             1986|Cursando Mestrado|          Casado(a)|     7500.0|               1|                   0|  2013-02-07|                    96|         1|        11|                 5|                 4|                 6|                9|                   2|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               36|           35|0.004672897196261682|
| 4692|             1976|  Ensino Superior|          Casado(a)|     7500.0|               1|                   0|  2012-08-01|                    19|         7|         0|                12|                13|                 7|               32|                   5|              4|                   1|               2|                  9|        1|        0|        0|        0|        0|          0|            1|               71|           45|0.004672897196261682|
| 9553|             1987|  Ensino Superior|          Casado(a)|     7500.0|               0|                   0|  2013-01-09|                    94|         0|         2|                 3|                 4|                 1|                5|                   1|              0|                   0|               3|                  6|        0|        0|        0|        0|        0|          0|            0|               15|           34|0.004672897196261682|
|10710|             1979|  Ensino Superior|          Casado(a)|     7500.0|               0|                   1|  2012-08-29|                    61|         5|         2|                 3|                 3|                 0|                5|                   1|              1|                   0|               2|                  8|        0|        0|        0|        0|        0|          0|            0|               18|           42|0.004672897196261682|
| 1773|             1978|Cursando Mestrado|          Casado(a)|    12393.0|               0|                   0|  2012-12-04|                    38|         5|         6|                15|                11|                 7|               13|                   1|              2|                   0|               3|                  9|        0|        0|        0|        0|        0|          0|            0|               57|           43|0.012850467289719626|
| 1160|             1970|  Ensino Superior|          Casado(a)|    13260.0|               1|                   1|  2013-08-23|                    48|         9|         4|                17|                10|                 2|                7|                   4|              3|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               49|           51|0.014018691588785047|
| 3641|             1976|  Ensino Superior|          Casado(a)|    13624.0|               1|                   0|  2013-01-20|                    93|        10|         2|                15|                 2|                 1|                6|                   2|              2|                   0|               3|                  6|        0|        0|        0|        0|        0|          0|            0|               36|           45|0.015186915887850467|
| 3436|             1969|  Ensino Superior|          Casado(a)|    14045.0|               1|                   0|  2014-01-26|                    24|        11|         0|                 5|                 2|                 1|                1|                   1|              1|                   0|               3|                  7|        0|        0|        0|        0|        0|          0|            0|               20|           52|0.016355140186915886|
| 5802|             1972|     Ensino Médio|          Casado(a)|    14188.0|               0|                   0|  2013-02-28|                    40|         2|         7|                11|                16|                12|               27|                   1|              2|                   0|               4|                  6|        0|        0|        0|        0|        0|          0|            0|               75|           49|0.017523364485981307|
|  193|             1996|     Ensino Médio|          Casado(a)|    14421.0|               0|                   0|  2014-02-17|                    81|         0|         0|                 2|                 3|                 3|                8|                   1|              1|                   0|               2|                  5|        1|        0|        0|        0|        0|          0|            0|               16|           25|0.018691588785046728|
| 1241|             1984|Cursando Mestrado|          Casado(a)|    14796.0|               1|                   0|  2012-09-17|                     1|        13|         3|                 8|                 7|                 4|               16|                   2|              1|                   0|               3|                  9|        0|        0|        0|        0|        0|          0|            1|               51|           37| 0.01985981308411215|
+-----+-----------------+-----------------+-------------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+--------------------+
only showing top 20 rows

#**Salvando o DataFrame em um arquivo .csv**

In [13]:
df1.write.format("csv").option("header", "true").option("schema", "true").option("delimiter", ",").save("/content/drive/MyDrive/dados/df_pyspark_campanhaMKT.csv")