#**Instalando a biblioteca PySpark**

Obs: Toda vez que for trabalhar com o PySpark no Colab tem que fazer a instalação do PySpark

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 35 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=2addf9499c8adaef334ab196daec5515e786403472a9b52007d59d5255881f84
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

#**Importando Bibliotecas**

In [2]:
from pyspark.sql import SparkSession

#**Configurando a SparkSession**

In [3]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("mini_projeto_final")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())

spark

#**Importando o arquivo .csv**

In [7]:
df = (spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .option("sep", ",")
  .load("/content/drive/MyDrive/dados/df_pyspark_campanhaMKT.csv")
  .createOrReplaceTempView("campanha_mkt")
     )

# **Fazendo consultas utilizando o SparkSQL**

In [8]:
# Consulta feita para visualizar todos os dados

spark.sql("SELECT * FROM campanha_mkt").show()

+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+
|  id|ano_de_nascimento|        graduacao| estado_civil|renda_anual|criancas_em_casa|adolescentes_em_casa|data_cliente|qtd_dias_ultima_compra|qts_vinhos|qts_frutas|qts_produtos_carne|qts_produtos_peixe|qts_produtos_doces|qts_produtos_ouro|num_compras_desconto|num_compras_web|num_compras_catalogo|num_compras_loja|num_visitas_web_mes|campanha3|campanha4|campanha5|campanha1|campanha2|reclamacoes|resposta_alvo|soma_qtd_produtos|idade_cliente|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+
|5524|             1957|  Ensino Superior|  Solteiro(a)|    58138.0|               0|                   0|  2012-09-04|                    58|       635|        88|               546|               172|                88|               88|                   3|              8|                  10|               4|                  7|        0|        0|        0|        0|        0|          0|            1|             1617|           64|
|2174|             1954|  Ensino Superior|  Solteiro(a)|    46344.0|               1|                   1|  2014-03-08|                    38|        11|         1|                 6|                 2|                 1|                6|                   2|              1|                   1|               2|                  5|        0|        0|        0|        0|        0|          0|            0|               27|           67|
|4141|             1965|  Ensino Superior|União Estável|    71613.0|               0|                   0|  2013-08-21|                    26|       426|        49|               127|               111|                21|               42|                   1|              8|                   2|              10|                  4|        0|        0|        0|        0|        0|          0|            0|              776|           56|
|6182|             1984|  Ensino Superior|União Estável|    26646.0|               1|                   0|  2014-02-10|                    26|        11|         4|                20|                10|                 3|                5|                   2|              2|                   0|               4|                  6|        0|        0|        0|        0|        0|          0|            0|               53|           37|
|5324|             1981|              PhD|    Casado(a)|    58293.0|               1|                   0|  2014-01-19|                    94|       173|        43|               118|                46|                27|               15|                   5|              5|                   3|               6|                  5|        0|        0|        0|        0|        0|          0|            0|              422|           40|
|7446|             1967|         Mestrado|União Estável|    62513.0|               0|                   1|  2013-09-09|                    16|       520|        42|                98|                 0|                42|               14|                   2|              6|                   4|              10|                  6|        0|        0|        0|        0|        0|          0|            0|              716|           54|
| 965|             1971|  Ensino Superior|Divorciado(a)|    55635.0|               0|                   1|  2012-11-13|                    34|       235|        65|               164|                50|                49|               27|                   4|              7|                   3|               7|                  6|        0|        0|        0|        0|        0|          0|            0|              590|           50|
|6177|             1985|              PhD|    Casado(a)|    33454.0|               1|                   0|  2013-05-08|                    32|        76|        10|                56|                 3|                 1|               23|                   2|              4|                   0|               4|                  8|        0|        0|        0|        0|        0|          0|            0|              169|           36|
|4855|             1974|              PhD|União Estável|    30351.0|               1|                   0|  2013-06-06|                    19|        14|         0|                24|                 3|                 3|                2|                   1|              3|                   0|               2|                  9|        0|        0|        0|        0|        0|          0|            1|               46|           47|
|5899|             1950|              PhD|União Estável|     5648.0|               1|                   1|  2014-03-13|                    68|        28|         0|                 6|                 1|                 1|               13|                   1|              1|                   0|               0|                 20|        1|        0|        0|        0|        0|          0|            0|               49|           71|
| 387|             1976|     Ensino Médio|    Casado(a)|     7500.0|               0|                   0|  2012-11-13|                    59|         6|        16|                11|                11|                 1|               16|                   1|              2|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               61|           45|
|2125|             1959|  Ensino Superior|Divorciado(a)|    63033.0|               0|                   0|  2013-11-15|                    82|       194|        61|               480|               225|               112|               30|                   1|              3|                   4|               8|                  2|        0|        0|        0|        0|        0|          0|            0|             1102|           62|
|8180|             1952|         Mestrado|Divorciado(a)|    59354.0|               1|                   1|  2013-11-15|                    53|       233|         2|                53|                 3|                 5|               14|                   3|              6|                   1|               5|                  6|        0|        0|        0|        0|        0|          0|            0|              310|           69|
|2569|             1987|  Ensino Superior|    Casado(a)|    17323.0|               0|                   0|  2012-10-10|                    38|         3|        14|                17|                 6|                 1|                5|                   1|              1|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               46|           34|
|2114|             1946|              PhD|  Solteiro(a)|    82800.0|               0|                   0|  2012-11-24|                    23|      1006|        22|               115|                59|                68|               45|                   1|              7|                   6|              12|                  3|        0|        0|        1|        1|        0|          0|            1|             1315|           75|
|9736|             1980|  Ensino Superior|    Casado(a)|    41850.0|               1|                   1|  2012-12-24|                    51|        53|         5|                19|                 2|                13|                4|                   3|              3|                   0|               3|                  8|        0|        0|        0|        0|        0|          0|            0|               96|           41|
|4939|             1946|  Ensino Superior|União Estável|    37760.0|               0|                   0|  2012-08-31|                    20|        84|         5|                38|               150|                12|               28|                   2|              4|                   1|               6|                  7|        0|        0|        0|        0|        0|          0|            0|              317|           75|
|6565|             1949|         Mestrado|    Casado(a)|    76995.0|               0|                   1|  2013-03-28|                    91|      1012|        80|               498|                 0|                16|              176|                   2|             11|                   4|               9|                  5|        0|        0|        0|        1|        0|          0|            0|             1782|           72|
|2278|             1985|Cursando Mestrado|  Solteiro(a)|    33812.0|               1|                   0|  2012-11-03|                    86|         4|        17|                19|                30|                24|               39|                   2|              2|                   1|               3|                  6|        0|        0|        0|        0|        0|          0|            0|              133|           36|
|9360|             1982|  Ensino Superior|    Casado(a)|    37040.0|               0|                   0|  2012-08-08|                    41|        86|         2|                73|                69|                38|               48|                   1|              4|                   2|               5|                  8|        0|        0|        0|        0|        0|          0|            0|              316|           39|
+----+-----------------+-----------------+-------------+-----------+----------------+--------------------+------------+----------------------+----------+----------+------------------+------------------+------------------+-----------------+--------------------+---------------+--------------------+----------------+-------------------+---------+---------+---------+---------+---------+-----------+-------------+-----------------+-------------+
only showing top 20 rows

In [10]:
# Consulta realizada para fazer comparação entre graduacao, estado_civil e renda

spark.sql("SELECT graduacao, estado_civil, renda_anual FROM campanha_mkt").show()

+-----------------+-------------+-----------+
|        graduacao| estado_civil|renda_anual|
+-----------------+-------------+-----------+
|  Ensino Superior|  Solteiro(a)|    58138.0|
|  Ensino Superior|  Solteiro(a)|    46344.0|
|  Ensino Superior|União Estável|    71613.0|
|  Ensino Superior|União Estável|    26646.0|
|              PhD|    Casado(a)|    58293.0|
|         Mestrado|União Estável|    62513.0|
|  Ensino Superior|Divorciado(a)|    55635.0|
|              PhD|    Casado(a)|    33454.0|
|              PhD|União Estável|    30351.0|
|              PhD|União Estável|     5648.0|
|     Ensino Médio|    Casado(a)|     7500.0|
|  Ensino Superior|Divorciado(a)|    63033.0|
|         Mestrado|Divorciado(a)|    59354.0|
|  Ensino Superior|    Casado(a)|    17323.0|
|              PhD|  Solteiro(a)|    82800.0|
|  Ensino Superior|    Casado(a)|    41850.0|
|  Ensino Superior|União Estável|    37760.0|
|         Mestrado|    Casado(a)|    76995.0|
|Cursando Mestrado|  Solteiro(a)|    33812.0|
|  Ensino Superior|    Casado(a)|    37040.0|
+-----------------+-------------+-----------+
only showing top 20 rows

In [11]:
# Consulta realizada para saber a quantidade de filhos contidos por cada estado civil

spark.sql("SELECT estado_civil, COUNT(criancas_em_casa, adolescentes_em_casa) AS qtd_filhos FROM campanha_mkt GROUP BY estado_civil").show()

+-------------------+----------+
|       estado_civil|qtd_filhos|
+-------------------+----------+
|           Viúvo(a)|        76|
|      Divorciado(a)|       231|
|          Casado(a)|       857|
|         Sozinho(a)|         3|
|Aproveitando a vida|         2|
|      União Estável|       572|
|        Solteiro(a)|       470|
+-------------------+----------+

In [13]:
# Consulta realizada para saber a quantidade de consumo anual com idade > 30

spark.sql("SELECT idade_cliente, COUNT(soma_qtd_produtos) AS consumo_idade FROM campanha_mkt GROUP BY idade_cliente HAVING idade_cliente > 30").show()

+-------------+-------------+
|idade_cliente|consumo_idade|
+-------------+-------------+
|           31|           18|
|           65|           55|
|           53|           51|
|           78|            6|
|           34|           27|
|           81|            1|
|           76|            8|
|           44|           52|
|           47|           69|
|           52|           70|
|           40|           38|
|           57|           41|
|           54|           44|
|           48|           72|
|           64|           40|
|           41|           39|
|           43|           76|
|           37|           38|
|           61|           49|
|           72|           30|
+-------------+-------------+
only showing top 20 rows

In [17]:
# Consulta realizada para saber a somatória, o mínimo, o máximo e a média do consumo de vinhos por renda anual

spark.sql("SELECT idade_cliente, SUM(qts_vinhos) AS soma_qts_vinhos, MIN(qts_vinhos) AS min_qts_vinhos, MAX(qts_vinhos) AS max_qts_vinhos, AVG(qts_vinhos) AS media_qts_vinhos FROM campanha_mkt GROUP BY idade_cliente ORDER BY idade_cliente").show()

+-------------+---------------+--------------+--------------+------------------+
|idade_cliente|soma_qts_vinhos|min_qts_vinhos|max_qts_vinhos|  media_qts_vinhos|
+-------------+---------------+--------------+--------------+------------------+
|           25|              3|             0|             3|               1.5|
|           26|           1421|             4|           594|             284.2|
|           27|           1977|           241|           966|             659.0|
|           28|           1485|           315|           420|            371.25|
|           29|           3289|             1|           962|             253.0|
|           30|           8238|             0|          1332|             549.2|
|           31|           3435|             1|           863|190.83333333333334|
|           32|           5376|             0|           957| 185.3793103448276|
|           33|           8742|             2|          1259|301.44827586206895|
|           34|           7819|             0|          1285| 289.5925925925926|
|           35|           8592|             1|          1311| 209.5609756097561|
|           36|           5190|             1|          1067|          162.1875|
|           37|           6069|             1|          1218|159.71052631578948|
|           38|           9893|             3|          1308|241.29268292682926|
|           39|          15466|             2|          1478|             351.5|
|           40|           9110|             0|          1003|239.73684210526315|
|           41|           8221|             1|           840| 210.7948717948718|
|           42|          10167|             0|          1230|191.83018867924528|
|           43|          14709|             1|          1023|193.53947368421052|
|           44|          13237|             1|          1050|254.55769230769232|
+-------------+---------------+--------------+--------------+------------------+
only showing top 20 rows

In [26]:
# Consulta realizada para saber quantas visitas na web tiveram por idade

spark.sql("SELECT idade_cliente, COUNT(num_visitas_web_mes) AS visitas_web FROM campanha_mkt GROUP BY idade_cliente ORDER BY idade_cliente").show()

+-------------+-----------+
|idade_cliente|visitas_web|
+-------------+-----------+
|           25|          2|
|           26|          5|
|           27|          3|
|           28|          4|
|           29|         13|
|           30|         15|
|           31|         18|
|           32|         29|
|           33|         29|
|           34|         27|
|           35|         41|
|           36|         32|
|           37|         38|
|           38|         41|
|           39|         44|
|           40|         38|
|           41|         39|
|           42|         53|
|           43|         76|
|           44|         52|
+-------------+-----------+
only showing top 20 rows

In [31]:
# Consulta realizada para saber a idade, a graduação, a renda anual e o consumo de carne

spark.sql("SELECT idade_cliente, graduacao, renda_anual, qts_produtos_carne FROM campanha_mkt").show()

+-------------+-----------------+-----------+------------------+
|idade_cliente|        graduacao|renda_anual|qts_produtos_carne|
+-------------+-----------------+-----------+------------------+
|           64|  Ensino Superior|    58138.0|               546|
|           67|  Ensino Superior|    46344.0|                 6|
|           56|  Ensino Superior|    71613.0|               127|
|           37|  Ensino Superior|    26646.0|                20|
|           40|              PhD|    58293.0|               118|
|           54|         Mestrado|    62513.0|                98|
|           50|  Ensino Superior|    55635.0|               164|
|           36|              PhD|    33454.0|                56|
|           47|              PhD|    30351.0|                24|
|           71|              PhD|     5648.0|                 6|
|           45|     Ensino Médio|     7500.0|                11|
|           62|  Ensino Superior|    63033.0|               480|
|           69|         Mestrado|    59354.0|                53|
|           34|  Ensino Superior|    17323.0|                17|
|           75|              PhD|    82800.0|               115|
|           41|  Ensino Superior|    41850.0|                19|
|           75|  Ensino Superior|    37760.0|                38|
|           72|         Mestrado|    76995.0|               498|
|           36|Cursando Mestrado|    33812.0|                19|
|           39|  Ensino Superior|    37040.0|                73|
+-------------+-----------------+-----------+------------------+
only showing top 20 rows

In [43]:
# Consulta realizada para saber o consumo de doces e quantas crianças tem em casa

spark.sql("SELECT qts_produtos_doces, SUM(criancas_em_casa) AS qts_filhos FROM campanha_mkt GROUP BY qts_produtos_doces").show()

+------------------+----------+
|qts_produtos_doces|qts_filhos|
+------------------+----------+
|               148|         0|
|                31|         0|
|               137|         0|
|                85|         0|
|                65|         0|
|                53|         0|
|               133|         0|
|                78|         1|
|               108|         0|
|                34|         2|
|               115|         0|
|               101|         0|
|               126|         2|
|                81|         0|
|                28|         2|
|                76|         0|
|                27|         4|
|                26|         3|
|                44|         1|
|               192|         0|
+------------------+----------+
only showing top 20 rows

In [44]:
# Consulta realizada para saber o nível de escolaridade que aceitaram a campanha de mkt

spark.sql("SELECT graduacao, SUM(resposta_alvo) AS aceitaram_campanha FROM campanha_mkt GROUP BY graduacao").show()

+-----------------+------------------+
|        graduacao|aceitaram_campanha|
+-----------------+------------------+
|  Ensino Superior|               151|
|              PhD|               101|
|Cursando Mestrado|                22|
|     Ensino Médio|                 2|
|         Mestrado|                56|
+-----------------+------------------+

In [45]:
# Consulta realizada para saber a idade do cliente e o consumo de peixe

spark.sql("SELECT idade_cliente, qts_produtos_peixe FROM campanha_mkt").show()

+-------------+------------------+
|idade_cliente|qts_produtos_peixe|
+-------------+------------------+
|           64|               172|
|           67|                 2|
|           56|               111|
|           37|                10|
|           40|                46|
|           54|                 0|
|           50|                50|
|           36|                 3|
|           47|                 3|
|           71|                 1|
|           45|                11|
|           62|               225|
|           69|                 3|
|           34|                 6|
|           75|                59|
|           41|                 2|
|           75|               150|
|           72|                 0|
|           36|                30|
|           39|                69|
+-------------+------------------+
only showing top 20 rows